/* commonly shared styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    text-align: center;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* banner related style */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDEEF1;
    padding: 50px 240px 0px 240px;

}

.banner-content {
    max-width: 700px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* main section style */

.featured-flower {
    margin-top: 178px;
}

.featured-flower-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}

.pink-flower {
    background-color: #F1DEE8;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.bouquet {
    background-color: #DBF0F1;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.yellow-flower {
    background-color: #E4ECDB;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    margin-right: 25px;
}

.featured-flower-img p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}

.flower-delivery {
    display: flex;
    margin-top: 128px;
    justify-content: space-between;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    background-color: #F4F4F4;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    position: relative;
}

.delivery-man {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 86px;
    left: 317px;

}

.delivery-bouquet {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 86px;
    left: 761px;
}

.delivery-service {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 86px;
    right: 232px;
}

.delivery-man-description {
    position: absolute;
    top: 198px;
    left: 175px;
    color: #505050;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;

}

.delivery-bouquet-description {
    position: absolute;
    top: 198px;
    left: 647px;
    color: #505050;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.delivery-service-description {
    position: absolute;
    top: 198px;
    right: 175px;
    color: #505050;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;

}

/* hot deal section style */

.hot-deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1922px;
    height: 620px;
    background-color: #FDF6F8;
    margin-top: 128px;
    position: relative;
}

.hot-deal img {
    position: absolute;
    width: 318px;
    height: 420px;
    top: 100px;
    right: 429px;
}

.hot-deal-content {
    padding: 302px 933px 162px 395px;
    max-width: 700px;

}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 700px;
    position: absolute;
    top: 230px;
    left: 423px;

}

.hot-deal-description {
    position: absolute;
    color: #7C797A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    top: 302px;
    left: 395px;
}

.hot-deal .primary-btn {
    position: absolute;
    top: 394px;
    left: 603px;
}

/* Instagram section style */

.insta-img {
    display: flex;
    margin-top: 48px;
    margin-left: 240px;
}

/* Latest deal section style */

.latest-deal {
    margin-top: 128px;
    margin-left: 240px;
    width: 1440px;
    height: 449px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    position: relative;
}

.latest-deal .section-title {
    position: absolute;
    top: 122px;
    bottom: 279px;
    left: 533px;

}

.latest-deal .section-description {
    position: absolute;
    top: 186px;
    left: 604px;
    bottom: 233px;
}

.latest-deal input {
    position: absolute;
    border-radius: 8px;
    background: #FFF;
    top: 264px;
    left: 287px;
    border: none;
    color: #7D7D7D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 23px 513px 22px 22px;
    margin-right: 16px;
}

.latest-deal button {
    position: absolute;
    top: 264px;
    left: 1003px;
    margin-left: 25px;
    width: 150px;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 18px 31px;
}