/* commonly shared styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* banner related style */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDEEF1;
    padding: 50px 240px 0px 240px;

}

.banner-content {
    max-width: 700px;
    margin: ;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}